# Ignore binstubs but do commit the one specific for this code.
bin/*
!bin/hooks

coverage/
logs/
tmp/
tarballs/
vendor/gems/
.idea
.byebug_history
.local/
.DS_Store
.lesshst
*.pem
*.key
*.crt
*.csr
*.secret
hooks-ruby-*.gem
